PROJECT_NAME=server
ENVIRONMENT=local

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/app

SECRET_KEY=change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

BACKEND_CORS_ORIGINS=["http://localhost:5173"]
